{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'medwebapp/style.css' %}" />

<html>
<head>
    <script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		zoomEnabled: true,
		panEnabled: true,
		title:{
			text: "Electrocardiogram"
		},
		animationEnabled: true,
		legend: {
			horizontalAlign: "right",
			verticalAlign: "center"
		},
		axisY:{
			includeZero: false
		},
		data: data,  // random generator below
    });
	chart.render();
}

	var limit = 200;    //increase number of dataPoints by increasing this

	var y = 0;
	var data = []; var dataSeries = { type: "line" };
	var dataPoints = [];
	buffer = {{ecg}}
	for (var i = 0; i < limit; i += 1) {
 		y = buffer[i];
 		dataPoints.push({
 			x: i,
 			y: y
 		});
 	}
 	dataSeries.dataPoints = dataPoints;
 	data.push(dataSeries);

 </script>
    <script type="text/javascript" src="{% static 'medwebapp/canvasjs.min.js' %}"></script>
</head>

<body bgcolor="#F7DA55">

<center><h2>Health Index</h2></center>

<table align="center">
  <tr>
    <th>Parameters</th>
    <th>Values</th>
  </tr>
  <tr>
    <td>Device id</td>
    <td>{{watcher.watcherid}}</td>
  </tr>
  <tr>
    <td>Heart rate</td>
    <td>{{watcher.heart_rate}}</td>
  </tr>
  <tr>
    <td>Respiration rate</td>
    <td>{{watcher.resp_rate}}</td>
  </tr>
  <tr>
    <td>Systolic blood pressure</td>
    <td>{{watcher.blood_pressure_sys}}</td>
  </tr>
  <tr>
    <td>Diastolic blood pressure</td>
    <td>{{watcher.blood_pressure_dia}}</td>
  </tr>
  <tr>
    <td>SPO2</td>
    <td>{{watcher.spo2_content}}</td>
  </tr>
  <tr>
    <td>Blood Sugar Level</td>
    <td>{{watcher.sugar_level}}</td>
  </tr>
</table>

<center><div id="chartContainer" style="height: 300px; width: 50%;"></center>
</div>
</body>

</html>
